[submodule "LaunchAtLoginController"]
	path = LaunchAtLoginController
	url = git@github.com:Mozketo/LaunchAtLoginController.git
[submodule "LaunchAtLoginControllerARC"]
	path = LaunchAtLoginControllerARC
	url = git@github.com:biocross/LaunchAtLoginController--with-ARC-.git
